@charset "UTF-8";

 body{
      margin: 0;
    }
    .nav{
      height: 70px;
      border-bottom: 1px slid black;
      display: flex;
      align-items:center;
    }
    .nav-right-items {
      display: flex;
      margin-left: auto;
    }
    .nav-item {
      margin-left: 10px;
    }
    .company-name {
      margin-left: 20px;
    }
    .title {  
      font-size:60px;
      font-weight: bold;
      align-items:center;
    }

    .subtitle {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 300;
    }
    .main {
      width: 1000px;
      margin: 0 auto;
      margin-top: 60px;
    }
    .prices {
      display: flex;
    }
    .price-item {
      width: 300px;
      height: 300px;
      border: 1px solid black;
      margin: 20px;
      border-radius: 4px;
      text-align: center;
    }
    .price-item-price {
      font-size: 2.5rem;
      font-weight: bold;
      padding: 20px;
    }
    .price-item-title {
        font-size: 1.5rem;
        background: rgba(0,0,0,.03);
        height: 53px;
        line-height: 53px;
        border-bottom: 1px solid black;
    }
    .price-item-detail {
      font-size : 1.0rem;
    }
    .price-item {
      font-size: 2.5rem;
      font-weight: bold;
      padding: 20px;
    }
    .price-item-button {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
        color: #007bff;
        background-color: transparent;
        background-image: none;
        border-color: #007bff;
        margin-top: 30px;
    }
    .price-item-button--active {
      background-color: #007bff;
      color: white;
      margin-top:10px; 
    }